<%= turbo_frame_tag dom_id(event) do %>
  <%= link_to event, data: { turbo: false } do %>
    <div class='bg-gray-500 max-w-md rounded-lg min-w-[50%] m-2 px-1'>
      <div class='flex flex-row justify-around'>
        <img class='max-w-[25%] p-4' src="/images/<%= getTemplate(event.topic, event.value, event.event_type)[:source] %>.png" alt="robot">
        <img class='max-w-[25%] p-4' src="/images/<%= getTemplate(event.topic, event.value, event.event_type)[:action] %>.png" alt="<%= event.topic %>">
        <img class='max-w-[25%] p-4' src="/images/<%= getTemplate(event.topic, event.value, event.event_type)[:target] %>.png">
      </div>
    </div>
  <% end %>
<% end %>